<h2>Hello,</h2>
<p>
  You recently asked to recover your lost password on Vulpee.com.
</p>
<p>
  Click on this link to change your password: <a href="http://app.vulpee.local/reset-password?token={{ token }}" target="_blank">Click</a>
</p>